* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    border: 1px solid olive;
    margin: 5px;
    padding: 5px;
}



